*{
  margin: 0;
  padding: 0;
  font-family: lato;
 margin-top: 20px;
  background-color: rgb(111, 207, 235);
}

.inicio{
  margin-top: 10px;
}


.nav_bar ul {
  list-style: none;
  padding: 15px;
  display: flex;
}

.nav_bar li {
  margin-right: 210px;
}

.nav_bar li:last-child {
  margin-right: 0;
}

.nav_bar a {
  display: block;
  width: 100%;
  padding: 35px 45px;
  background-color: #ffffff;
  color: #333;
  text-decoration: none;
  border-radius: 30px;
  margin-top: -20px;
}

.nav_bar a:hover {
  background-color: #FFFD71;
}

    
  
  form {
    background-color: #FFFD71;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-left: 40px;

  }
  
  h2 {
    margin-bottom: 20px;
    background-color: #FFFD71;
  }
  
  label {
    display: flex;
    background-color: #FFFD71;
    
  }
  
  input {
    width: 70%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
  }
  
  button {
    background-color: #FE7C7C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }

  .formulario {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 1px;
    margin-right: 500px;


  }
  .contac{
    margin-top: 10px;
  }

